version: "3.9"
services:

  jenkins:
    container_name: Jenkins
    restart: always
    privileged: true
    build: ./Jenkins
    ports:
      - 8080:8080
    volumes:
      - jenkins_data:/var/jenkins_home
      - ./Jenkins/configuration.yml:/var/configuration.yml
      - ./Jenkins/jobs.groovy:/var/jobs.groovy
      - ./Runner:/var/marvin
      - ${SSH_FILE}:/var/key
      - ${SSH_FILE}.pub:/var/key.pub
    environment:
      ADMIN_ID: ${JENKINS_ADMIN_ID}
      ADMIN_NAME: ${JENKINS_ADMIN_NAME}
      ADMIN_PASSWORD: ${JENKINS_ADMIN_PASSWORD}
      NB_AGENTS: ${JENKINS_NB_AGENTS}

  slave:
    container_name: Slave
    restart: always
    privileged: true
    ports:
      - 22:22
    build:
      context: ./Slave
    volumes:
      - ${SSH_FILE}.pub:/root/.ssh/authorized_keys
      - ./Runner:/var/marvin
      - ./Slave/agent.jar:/bin/agent.jar
      - ./Slave/slave.sh:/bin/slave
    links:
      - jenkins:jenkins

  discord:
    container_name: Discord
    build: ./Discord
    restart: always
    ports:
      - 80:80
    volumes:
      - ./Discord:/usr/src/app
    depends_on:
      - jenkins
    links:
      - jenkins
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      DISCORD_CLIENTID: ${DISCORD_CLIENTID}
      DISCORD_SERVERID: ${DISCORD_SERVERID}
      GITHUB_ORGANIZATION: ${GITHUB_ORGANIZATION}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      JENKINS_ID: ${JENKINS_ADMIN_ID}
      JENKINS_API_TOKEN: ${JENKINS_API_TOKEN}
      JENKINS_HOST: jenkins
      DOCUMENTATION_URL: ${DOCUMENTATION_URL}
      BLACKLISTED_SNOWFLAKES: ${BLACKLISTED_SNOWFLAKES}
      DOMAIN: ${DOMAIN}

volumes:
  jenkins_data: {}
