<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        <title>[{{ Module }}] {{ Project }} - Tests report</title>
        <style media="screen" type="text/css">
            @media (max-width: 769px) {
                blockquote.ml-5 {
                    margin-left: 0 !important;
                }
            }
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <section class="section">
            <div class="container">
                <!-- Header -->
                <div class="box">
                    <div class="columns">
                        <div class="column is-half-desktop has-text-centered has-text-left-tablet">
                            <h1 class="title">{{ Project }}</h1>
                            <p class="subtitle">
                                <strong>{{ Module }}</strong>
                            </p>
                        </div>
                        <div class="column is-half-desktop has-text-centered has-text-right-tablet">
                            <p class="subtitle">
                                Commit: <strong>{{ CommitMessage }}</strong><br />
                                Date: <strong>{{ CommitDate }}</strong>
                            </p>
                        </div>
                    </div>
                    <progress class="progress is-large is-{{ TotalColor }}" value="{{ TotalPercentage }}" max="100">{{ TotalPercentage }}%</progress>
                    <p class="has-text-centered">
                        <strong>{{ TotalPassed }}/{{ TotalTests }} - {{ TotalPercentage }}%</strong>
                    </p>
                </div>
                <!-- /Header -->
                {{! <!-- Coding style -->
                <div class="box">
                    <div class="columns">
                        <div class="column is-one-third has-text-centered">
                            <h2 class="has-text-weight-medium is-size-4">Major</h2>
                            <p class="subtitle">
                                <strong>0</strong>
                            </p>
                        </div>
                        <div class="column is-one-third has-text-centered">
                            <h2 class="has-text-weight-medium is-size-4">Major</h2>
                            <p class="subtitle">
                                <strong>0</strong>
                            </p>
                        </div>
                        <div class="column is-one-third has-text-centered">
                            <h2 class="has-text-weight-medium is-size-4">Info</h2>
                            <p class="subtitle">
                                <strong>0</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /Coding style --> }}
                {{#CoverageLines}}
                <!-- Code Coverage -->
                <div class="box">
                    <div class="columns">
                        <div class="column is-one-third has-text-centered">
                            <h2 class="subtitle">Code Coverage</h2>
                            <progress class="progress mb-2 is-{{ CoverageLinesColor }}" value="{{ CoverageLinesPercentage }}" max="100">{{ CoverageLinesPercentage }}%</progress>
                            <p class="mb-5">Lines: {{ CoverageLinesPassed }}/{{ CoverageLinesTotal }} - {{ CoverageLinesPercentage }}%</p>
                            <progress class="progress mb-2 is-{{ CoverageBranchesColor }}" value="{{ CoverageBranchesPercentage }}" max="100">{{ CoverageBranchesPercentage }}%</progress>
                            <p>Branches: {{ CoverageBranchesPassed }}/{{ CoverageBranchesTotal }} - {{ CoverageBranchesPercentage }}%</p>
                        </div>
                        <div class="column is-size-7">
                            <pre class="mb-1">{{{CoverageLines}}}</pre>
                            <pre>{{{CoverageBranches}}}</pre>
                        </div>
                    </div>
                </div>
                <!-- /Code Coverage -->
                {{/CoverageLines}}
                <!-- Tests report -->
                {{#Skills}}
                <div class="box">
                    <!-- {{ name }} -->
                    <div class="columns">
                        <div class="column is-one-third has-text-centered">
                            <h2 class="subtitle">{{ name }}</h2>
                            <progress class="progress is-{{ color }}" value="{{ percentage }}" max="100">{{ percentage }}%</progress>
                            <p>
                                <strong>{{ passed }}/{{ total }} - {{ percentage }}%</strong>
                            </p>
                        </div>
                        <div class="column has-text-left">
                            {{#tests}}
                                <!-- {{ name }} -->
                                <p>
                                    <strong>{{ status }} {{ name }} </strong>
                                    {{#message}}
                                    <br />
                                    <blockquote class="ml-5 mt-2 is-size-7">
                                        <pre>{{{ message }}}</pre>
                                    </blockquote>
                                    <br />
                                    {{/message}}
                                </p>
                                <!-- /{{ name }} -->
                            {{/tests}}
                        </div>
                    </div>
                    <!-- /{{ name }} -->
                </div>
                {{/Skills}}
                <!-- /Tests report -->
            </div>
        </section>
    </body>
</html>
