jenkins:
  systemMessage: "Hello ! Welcome to an shared Marvin instance."
  numExecutors: ${BUILD_AGENTS}
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: ${ADMIN_ID}
          name: ${ADMIN_NAME}
          password: ${ADMIN_PASSWORD}

security:
  globalJobDslSecurityConfiguration:
    useScriptSecurity: false

unclassified:
  location:
    url: "http://localhost:8080/"

jobs:
  - file: /var/jobs.groovy
